.todo-list {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}


.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 30vw;
  height: 30px;
}

.add-btn {
  padding: 15px 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.add-btn:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.delete-btn,
.edit-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.delete-btn i,
.edit-btn i {
  font-size: 18px;
  color: #999;
}

.delete-btn i:hover,
.edit-btn i:hover {
  color: #333;
}


.quantity-input {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.main-container{
  background-color: #404052;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  border-radius: 20px;
  padding: 40px;
  overflow-x: auto;
  
}

.bg-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #212126;
  height: 100vh;
  color: white;
  
  font-weight: bold;
}

.list-container{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  margin: 5px;
  background-color: #745ecc;
}
.edit-icon{
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 20px;
  margin-left:  20px;
}
.dlt-icon{
  background-color: transparent;
  border: none;
  color: red;
  margin-left:  20px;
  margin-right: 20px;
}
